 {% extends 'main.html' %}
 {% load static %}
 {% block content %}

 <section class="contact-area section_padding_100 mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="contact-heading-text text-center mb-100">
                        <span></span>
                        <h2>Please get in touch</h2>
                        <p>We should get in touch, shouldn't we? Businnes, Ideas, Praise, I take them all. Most especially, I give them all too. So, why aren't we in touch yet?</p>
                    </div>
                </div>
                <!-- Contact Form Area -->
                <div class="col-10">
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn studio-btn mt-3"><img src="{% static 'img/core-img/logo-icon.png' %}" alt=""> Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Google Maps -->
    <div class="map-area">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-10">
                    <div id="googleMap"></div>
                    <!-- Contact Info -->
                    <div class="contact-core-info d-flex align-items-center wow fadeInLeftBig" data-wow-delay="1s" data-wow-duration="1000ms">
                        <div class="contactInfo">
                            <img src="{% static 'img/core-img/logo.png' %}" alt="">
                            <!-- Single Footer Content -->
                            <div class="single-footer-content">
                                <img src="{% static 'img/core-img/map.png' %}" alt="">
                                <a href="#">Centre of Labyrinth</a>
                            </div>
                            <!-- Single Footer Content -->
                            <div class="single-footer-content">
                                <img src="{% static 'img/core-img/smartphone.png' %}" alt="">
                                <a href="https://wa.me/+2348107095017">+234 810 070 09517</a>
                            </div>
                            <!-- Single Footer Content -->
                            <div class="single-footer-content">
                                <img src="{% static 'img/core-img/envelope-2.png' %}" alt="">
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ajibadeyakubadebare@gmail.com&su=Hi_from_Poetrynth">ajibadeyakubadebare@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Follow Me Instagram Area Start -->
    <section class="follow-me-instagram-area">
        <div class="container">
            <div class="row">
                <div class="col-11 ml-auto">
                    <div class="follow-me-title">
                        <h5>Follow me @ Instagram</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Instagram Feeds Area -->
        <div class="instagram-feeds-area owl-carousel">
            {% for poem in poems %}
            <div class="single-instagram-feeds">
                <img src="{{poem.featured_image.url}}" alt="">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Follow Me Instagram Area End -->


    {% endblock content %}