{% extends 'main.html' %}
{% load static %}
{% block content %}
  <!-- Main Section -->
<style>
  .inbox {
    height: 90vh;
  }
  
  .inbox__title,
  .inbox__title span {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-sub);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 3rem;
  }
  
  .inbox__title span {
    color: var(--color-main);
  }
  
  .messages {
    list-style: none;
    background: var(--color-white);
    padding: 0.5rem 3rem;
    border: 2px solid var(--color-light);
    border-radius: 0.7rem;
  }
  
  .message {
    padding: 0.5rem 0;
  }
  
  .message > a span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .message.message--unread a span {
    font-weight: 700;
    color: var(--color-sub);
  }
  
  .message:not(:last-child) {
    border-bottom: 2px solid var(--color-white-light);
  }
  
  .message > a {
    display: flex;
    gap: 1rem;
  }
  
  .message__author,
  .message__date {
    flex-basis: 25%;
  }
  
  .message__subject {
    flex-basis: 50%;
  }
  
  .message__date {
    text-align: right;
  }
</style>

<section class="contact-area section_padding_100 mt-100">
  <div class="container">
    <div class="row justify-content-center">
      <main class="inbox my-xl">
        <div class="content-box">
          <h3 class="inbox__title">New Messages(<span>{{unread}}</span>)</h3>

          <ul class="messages">
            {% for message in allmessages %}
            {% if message.is_read %}
            <li class="message">
            {% else %}
            <li class="message message--unread">
              {% endif %}
              <a href="{% url 'messages' message.id %}">
                <span class="message__author">{{message.name}}</span>
                <span class="message__subject">{{message.subject}}</span>
                <span class="message__date">{{message.created}}</span>
              </a>
            </li>
            
            {% endfor %}
          </ul>

        </div>
      </main>
    </div>
  </div>  
</section>

{% endblock content %}